@font-face {
  font-family: 'Martina Plantijn';
  src: url('./TestMartinaPlantijn-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Martina Plantijn';
  src: url('./TestMartinaPlantijn-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Martina Plantijn';
  src: url('./TestMartinaPlantijn-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Martina Plantijn';
  src: url('./TestMartinaPlantijn-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Martina Plantijn';
  src: url('./TestMartinaPlantijn-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Martina Plantijn';
  src: url('./TestMartinaPlantijn-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Martina Plantijn';
  src: url('./TestMartinaPlantijn-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Martina Plantijn';
  src: url('./TestMartinaPlantijn-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Martina Plantijn';
  src: url('./TestMartinaPlantijn-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Martina Plantijn';
  src: url('./TestMartinaPlantijn-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
